{% extends "parent_template.html" %}
{% block title %}Holy Grail{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.1.0/build/pure-min.css" integrity="sha384-kj0X2NG2KHBie8Tq8fH1kxnyWM9XsXQpq7XdwbKmFKjwwaXGKBlB2Klu3VOltSFx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.1.0/build/grids-responsive-min.css" />
{% endblock %}
{% block body %}

<div class="pure-g">
  <div class="pure-u-1 header">
    <p>Holy Grail Layout</p>
  </div>
  <div class="pure-u-1-5 sidebars">
    <p>Fifths</p>
  </div>
  <div class="pure-u-3-5 content">
    <p>Three Fifths</p>
  </div>
  <div class="pure-u-1-5 sidebars">
    <p>Fifths</p>
  </div>
  <div class="pure-u-1 footer">
    <p>Full Width</p>
  </div>

</div>

{% endblock %}